body {
    margin-top: 70px;
}

.navbar-default {
    background-color: #0C4B33 !important;
    background-image: none !important;
}

.navbar-brand {
    color: white !important;
}

h1 {
    margin: 0;
    text-align: center;
}

.job {
    background-color: #44B78B;
    margin: 10px 0;
    padding: 10px 25px;
    border-radius: 10px;
    width: 100%;
}