body {
    margin-top: 70px;
}

.navbar-default {
    background-color: #0C4B33 !important;
    background-image: none !important;
}

.navbar-header {
    width:100%;
}

.navtitle {
    margin: auto;
    display: inline-block;
}

.navbar-brand {
    color: white !important;
    display: inline;
}

.navimage {
    max-height: 40px;
    float: left;
    padding: 0;
    margin: 5px;
    display: inline;
}

.job {
    background-color: #44B78B;
    margin: 10px auto;
    padding: 10px 25px;
    border-radius: 10px;
}