{% extends 'base.html' %}

{% block jobs %}
    <div class="container">
        <h2>Post a Job</h2>
        <form class="form-group col-sm-8 form-horizontal">
            <label class="form-label" for="title">Job Title</label>
            <input class="form-control" id="title" v-model="jobtitle">

            <label class="form-label" for="description">Job Description</label>
            <textarea class="form-control" id="description" rows="3" v-model="jobdescription"></textarea>

            <button class="btn" v-on:click="addJob()">Submit</button>
        </form>
    </div>

    <div class="container">
        <h2>Available Jobs</h2>
        <p v-if="jobs.length == 0">Sorry, no jobs currently available</p>
        <div v-for="job in jobs" class="job container">
            <div class="col-sm-12">
                <h3>[[ job.jobtitle ]]</h3>
            </div>
            <div class="col-sm-12">
                <p>[[ job.jobdescription ]]</p>
                <button class="btn" v-on:click="removeJob($index)"><span class="glyphicon glyphicon-trash pull-right"></span></button>
            </div>
        </div>
    </div>
{% endblock %}